<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TreiTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B808A4391B9CC1C10070A1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B808A44D1B9CC1C10070A1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B808A4581B9CC1C10070A1A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
